<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
	<div th:replace="parts/parts.html :: head"></div><br />
	<body>
		<div th:replace="parts/parts.html :: header"></div>
		<div th:replace="parts/parts.html :: nav"></div>
		<main>
            <table>
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Okładka albumu</th>
                        <th>Rok wydania</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="album: ${albums}">
                        <td th:text="${album.name}"></td>
                        <td> <img th:src="'/images/'+${album.coverImage}" th:alt="'Zdjęcie albumu '+${album.name}"> </td>
                        <td th:text="${album.publishingYear}"></td>
                        <td> <a th:href="@{'/albums/edit/' + ${album.id}}">Edytuj</a></td>
						<td> <a th:href="@{'/albums/show/' + ${album.id}}">Usuń</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="/"><button class="return">Powrót na stronę główną</button></a>
		</main>
		<div th:replace="parts/parts.html :: footer"></div><br />
	</body>
</html>