<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
	<div th:replace="parts/parts.html :: head"></div><br />
	<body>
		<div th:replace="parts/parts.html :: header"></div><br />
		<div th:replace="parts/parts.html :: nav"></div><br />
		<main>
			<table>
				<thead>
					<th>Tytuł</th>
					<th>Wykonawca</th>
					<th>Album</th>
					<th>Długość utworu</th>
					<th>Edytuj</th>
					<th>Usuń</th>
				</thead>
				<tbody>
					<tr th:each="song: ${songs}">
						<td th:text="${song.title}"> </td>
						<td> <a th:href="${'/MusicBase/artists/show/'+song.performer}"><span th:text="${song.performer}"></span></a> </td>
						<td> <a th:href="${'/MusicBase/albums/show/'+song.albumid}"><span th:text="${song.albumid}"></span></a> </td>
						<td th:text="${song.duration}"> </td>
						<td> <a th:href="${'/MusicBase/songs/edit/'+song.albumid}">Edytuj</a> </td>
						<td> <a th:href="${'/MusicBase/songs/delete/'+song.albumid}">Usuń</a> </td>
					</tr>
					<tr>
                    	<td colspan="6">
                    		<a href="/">Powrót na stronę główną</a>
                    	</td>
                    </tr>
				</tbody>
			</table>
		</main>
		<div th:replace="parts/parts.html :: footer"></div><br />
	</body>
</html>