<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<div th:replace="parts/parts.html :: head"></div>
<br />
<body>
	<div th:replace="parts/parts.html :: header"></div>
	<br />
	<div th:replace="parts/parts.html :: nav"></div>
	<br />
	<main>
	<h2>Dodaj dane piosenki</h2>
		<br>
        <form action="#" th:action="@{/songs/save}" th:object="${song}" method="post">
            <table>
                <tr>
                    <td>Tytuł</td>
                    <td><input type="text" th:field="*{title}"></td>
                </tr>
                <tr>
                	<td>Wykonawca</td>
                	<td>
                		<select th:field="*{performer}">
    						<option th:each="artist : ${artists}" th:value="${artist.id}" th:text="${artist.name}"></option>
						</select>
                	</td>
                </tr>
                <tr>
                	<td>Album</td>
                	<td>
                		<select th:field="*{album}">
    						<option th:each="album : ${albums}" th:value="${album.id}" th:text="${album.name}"></option>
						</select>
                	</td>
                </tr>
                <tr>
                    <td>Długość trwania utworu</td>
                    <td><input type="text" th:field="*{duration}"></td>
                </tr>
            </table>
            <button type="submit">Zapisz</button>
        </form>
	</main>
	<div th:replace="parts/parts.html :: footer"></div>
	<br />
</body>
</html>